html
    head
        style
            include ../styles/addAmount.css
        title Tilføj antal til blueprints
    body
        form(action='/blueprint/amount' method='post')
                    h2 Blueprints
                    each blueprint in blueprints
                        label #{blueprint.name}
                        br
                        //- input(type="hidden" name="hidden:"+blueprint.name value=blueprint)
                        input(type='text' name=blueprint.name placeholder='Antal')
                        br
                        br

                    h2 Komponenter
                    each component in components
                        label #{component.name}
                        br
                        //- input(type="hidden" name="hidden:"+component.name value=component)
                        input(type='text' name=component.name  placeholder='Antal')
                        br
                        br
                    br
                    button(type='submit' name='create') Opret blueprint
        div.div1
            input(type="hidden" name="mainBlueprint"  value=theBlueprint)
            div.item1
                
                        
                div.item2
                    
                


            
                

                