html
    head
        style
            include ../styles/addAmount.css
        title Tilføj antal til blueprints
    body
        div.div1
            form(action='/blueprint/amount' method='post')
                input(type="hidden" name="mainBlueprintName"  value=mainBlueprintName)
                input(type="hidden" name="mainBlueprintAmount"  value=amount)
                input(type="hidden" name="mainBlueprintStorageMin"  value=storageMin)

                h2 Komponenter
                each component in components
                    label #{component.name}
                    br
                    input(type="hidden" name="hiddenComponent:"+component._id value=component._id)
                    input.inputAmount(type='text' name=component._id  placeholder='Indtast antal')
                    br
                    br
                br
                button.doneButton(type='submit' name='create') Opret blueprint
