html
    head
        style
            include ../styles/addAmount.css
        title Tilføj antal til blueprints
    body
        
        form(action='/blueprint/amount' method='post')
                    input(type="hidden" name="mainBlueprintName"  value=mainBlueprintName)
                    input(type="hidden" name="mainBlueprintAmount"  value=amount)
                    input(type="hidden" name="mainBlueprintStorageMin"  value=storageMin)
                    h2 Blueprints
                    each blueprint in blueprints
                        label #{blueprint.name}
                        br
                        input(type="hidden" name="hiddenBlueprint:"+blueprint._id value=blueprint._id)
                        input(type='text' name=blueprint._id placeholder='Antal')
                        br
                        br

                    h2 Komponenter
                    each component in components
                        label #{component.name}
                        br
                        input(type="hidden" name="hiddenComponent:"+component._id value=component._id)
                        input(type='text' name=component._id  placeholder='Antal')
                        br
                        br
                    br
                    button(type='submit' name='create') Opret blueprint
        div.div1
            div.item1


                div.item2
