html
    head
        script(src="/static/javascript/blueprint.js")
        script.
            //- function snupEnComponent() {
            //-     console.log("Der trykkes!");
            //-     let dropdown = document.getElementById("dropdownC").value
            //-     let compArea = document.getElementById("compArea")
            //-     let antal = document.getElementById("antalC").value
            //-     let dropdownValue = JSON.parse(dropdown)
            //-     console.log(compArea);
            //-     compArea.innerHTML= dropdownValue.name + " "  + " " + antal  + '\n' + compArea.innerHTML

            //-     console.log(dropdown);
            //- }
            
            function snupEtBlueprint(){
                let dropdown = document.getElementById("blueprintDropDown").value
                let bluePrintArea = document.getElementById("blueprintArea")
                let antal = ducument.getElemnetById("antalB")
                let dropdownValue = JSON.parse(dropdown)
                console.log(" :)")
                bluePrintArea.innerHTML =  compArea.innerHTML= dropdownValue.name + " "  + " " + antal  + '\n' + bluePrintArea.innerHTML
            }

        style
            include ../styles/storage.css

        title Blueprints

    body
        form(action='/createBlueprint' method='post')
            h2 Opret blueprint
            
            label Navn
            br
            input(type='text' name='name1' style="width:100%" placeholder='Navn på blueprint')
            br
            br
            label Antal
            br
            input(type='text' name='amount1' style="width:100%" placeholder='Antal på lager')
            br
            br
            label Vælg komponenter til blueprintet
            select(name="dropdownComp" style="width: 100%" )
                each component in components
                        option(value=component) #{component.name}
            br
            //- label Vælg andre blueprints til blueprintet
            //- select(name="dropdownBP" style="width: 100%" multiple)
            // antal input
            input(type="text" id= "antalC")

            // tilføj component til component listen
            button(name = "componentAmountButton" onclick = "snupEnComponent()") Vælg antal
            br

            //Component listen
            textarea(id="compArea", cols="30", rows="10" style = "width: 100%")

            // Blueprint dropdown
            form(action='/dropdown' method='post' id ="blueprintDropDown")
                label(for="") Vælg andre blueprints til blueprintet
                select(name="dropdown" style="width: 100%" multiple)
                    each blueprint in blueprints
                        option(value=blueprint.id) #{blueprint.name}
                br
                br
                button(type='submit' name='create') Opret blueprint

        h2 Blueprints
        // blueprint antal input
        input(type="text" id="antalB")

        //tilføj blueprint til en blueprint liste
        button(name = "blueprintAmountButton" onclick= "snupEtBlueprint()") vælg antal
        //Blueprint listen
        textarea(id="blueprintArea", cols="30", rows="10" style = "width: 100%")

        button(id= "blueprintArea" type='submit' name='create') Opret blueprint

        
        
        

        h2 Blueprints

        each blueprint in blueprints
            p='Navn: '+ blueprint.name +' Antal: '+ blueprint.amount
            br

    h2 BlueprintsTest
    div.test(id='test', style="overflow-y:scroll;height:400px; width:100%; background-color:white")
        each blueprint in blueprints
            label #{blueprint.name} 
            br
            input(type='text' calss= blueprint._id, id='input'+blueprint._id  placeholder='Antal')
            button(calss= blueprint._id id='button'+blueprint._id onclick= "addABlueprint(this)") Tilføj blueprint
            br
            br
    //- div(id='blueprintsTest' style=overflow-y:scroll; height:400px; width:100%; background-color:white)