html
    head
        style
            include ../styles/addAmount.css
        script(defer, src="/static/javascript/script.js")
        title Tilføj antal til blueprints
    body
        div.div1
            form(action='/blueprint/amount' method='post')
                input(type="hidden" name="mainBlueprintName"  value=mainBlueprintName)
                input(type="hidden" name="mainBlueprintAmount"  value=amount)
                input(type="hidden" name="mainBlueprintNote"  value=note)

                h2 Komponenter
                each component in components
                    label #{component.name}
                    br
                    input(type="hidden" name="hiddenComponent:"+component._id value=component._id)
                    input.inputAmount(type='text' name=component._id  placeholder='Indtast antal' style='text-align: center; width: 100px')
                    br
                    br
                button.submitButton(type='submit' name='create' onclick='disableButtons()') Opret blueprint
                br
