html
    head
        style
            include ../styles/storage.css
            include ../styles/collapsible.css
            include ../styles/table.css
        title Lager
        script(defer, src="/static/javascript/script.js")
        script(src="/static/javascript/confirm.js")

    body
        img.dsLogo(src="/static/assets/DSLogo.PNG", alt="Dummysmeden logo")
        div.gridDiv
            div.productColumn
                h1 Produkter
                div.collapsible
                    button.collapsibleButton(type='submit') Opret
                    div.content
                        include createProduct.pug
                    button.collapsibleButton(type='submit') Opdater
                    div.content#divBlueprints
                        include updateProduct.pug
                    button.collapsibleButton(type='submit') Slet
                    div.content
                        include deleteProduct.pug

                    h2 Lagerbeholdning
                        table
                            tr
                                th.headerName Navn
                                th.headerAmount Antal
                            each product in products
                                tr
                                    td.name #{product.name}
                                    td.amount #{product.amount}
                                tr
                                    td.contentT yeet #{product.storageMin}
            div.blueprintColumn
                h1 Blueprints
                div.collapsible
                    button.collapsibleButton(type='submit') Opret
                    div.content
                        include createBlueprint.pug
                    button.collapsibleButton(type='submit') Opdater
                    div.content#divComponents
                        include updateBlueprint.pug
                    button.collapsibleButton(type='submit') Slet
                    div.content
                        include deleteBlueprint.pug

                    h2 Lagerbeholdning
                        table
                            tr
                                th.headerName Navn
                                th.headerAmount Antal
                            each blueprint in blueprints
                                tr
                                    td.name #{blueprint.name}
                                    td.amount #{blueprint.amount}
                                tr
                                    td.contentT yeet #{blueprint.storageMin}
            div.componentColumn
                h1 Komponenter
                div.collapsible
                    button.collapsibleButton(type='submit') Opret
                    div.content
                        include createComp.pug
                    button.collapsibleButton(type='submit') Opdater
                    div.content
                        include updateComp.pug
                    button.collapsibleButton(type='submit') Slet
                    div.content
                        include deleteComp.pug

                    h2 Lagerbeholdning
                        table
                            tr
                                th.headerName Navn
                                th.headerAmount Antal
                            each component in components
                                tr
                                    td.name #{component.name}
                                    td.amount #{component.amount}
                                tr
                                    td.contentT yeet #{component.storageMin}